* {
    box-sizing: border-box;
}

.inet-prodej-app {
    width: 100%;
    height: 99vh;
    tfoot {
        font-weight: bold;
    }
    &--touch {
        button,
        td,
        input {
            padding: 5px 5px;
        }
    }
    button {
        border-radius: 3px;
        border: 1px solid black;
        &:hover:not([disabled]) {
            cursor: pointer;
            background-color: rgb(188, 231, 248);
            border: 2px solid rgb(100, 150, 232);
        }
        &:hover[disabled] {
            cursor: not-allowed;
        }
    }
    .item-alignment-right {
        text-align: right;
    }
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 1px solid;
        margin: 2px;
        height: 40px;
        select {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
            padding: 3px;
        }
        &__details {
            padding-left: 10px;
            display: flex;
            align-items: center;
            svg {
                height: 25px;
                margin-right: 10px;
                padding: 2px 0px 1px 0px;
            }
            span {
                margin-right: 10px;
            }
        }
        &__reader-touch-container {
            display: flex;
            flex-direction: row;
            &__reader-container {
                // width: 200px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 25px;
            }
        }
        &__touch {
            display: flex;
            min-width: 150px;
            flex-direction: row;
            margin-right: 3px;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
            &__check-container {
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 2px;
                background-color: black;
                div {
                    position: absolute;
                    top: 4px;
                    left: 1px;
                    width: 10px;
                    height: 15px;
                    border-style: solid;
                    border-color: white;
                    border-width: 0px 3px 3px 0px;
                    transform: rotate(40deg);
                    margin: 0px 10px;
                }
                &--off {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    border-radius: 2px;
                    background-color: rgb(239, 219, 219);
                    border: 1px solid black;
                }
            }
            span {
                padding: 0px 5px;
                margin: 2px 5px 2px 0px;
            }
        }
    }
    .shop {
        border: 1px solid;
        margin: 2px;
        height: 47%;
        table {
            width: 100%;
            position: relative;
            text-align: left;
            td {
                padding-left: 10px;
                padding-right: 10px;
            }
            thead th {
                position: sticky;
                top: 0;
                background-color: rgb(79, 79, 79);
                color: white;
                opacity: 1;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        &__name {
            font-weight: bold;
            padding: 0px 0px 2px 5px;
            display: block;
            text-align: left;
            border-bottom: 1px solid black;
            margin: 2px;
            height: 25px;
        }
        &__list-container {
            width: 100%;
            height: calc(100% - 25px);
            margin: 2px;
            overflow-y: scroll;
            &__item {
                svg {
                    width: 15px;
                    height: 15px;
                    padding: 5px 0px 0px 5px;
                    opacity: 0.5;
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    background-color: rgb(205, 233, 242);
                    cursor: pointer;
                    svg {
                        opacity: 0.9;
                        transform: scale(2);
                    }
                }
            }
        }
    }
    .person-cart-container {
        display: flex;
        flex-direction: row;
        height: 47%;
        .person {
            min-width: 200px;
            max-width: 250px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border: 1px solid;
            margin: 2px;
            &__name {
                font-weight: bold;
                padding: 0px 0px 2px 5px;
                display: block;
                text-align: left;
                border-bottom: 1px solid black;
                margin: 2px;
                height: 25px;
            }
            span {
                font-weight: bold;
                display: block;
                padding-top: 5px;
            }
            &__details {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                padding-left: 10px;
                img {
                    width: 50%;
                    margin-top: 10px;
                }
                input {
                    width: 85%;
                    margin-top: 5px;
                }
                &__buttons {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    svg {
                        height: 15px;
                        width: 10px;
                        margin-right: 5px;
                    }
                    button {
                        display: flex;
                        justify-content: center;
                        margin-right: 5px;
                    }
                }
            }
        }
        .cart {
            width: 100%;
            border: 1px solid;
            margin: 2px;
            table {
                width: 100%;
                position: relative;
                text-align: left;
                td {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                thead th {
                    position: sticky;
                    top: 0;
                    background-color: rgb(79, 79, 79);
                    color: white;
                    opacity: 1;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            &__name {
                font-weight: bold;
                padding: 0px 0px 2px 5px;
                display: flex;
                text-align: left;
                border-bottom: 1px solid black;
                margin: 2px;
                height: 25px;
            }
            &__list-container {
                min-height: 150px;
                max-height: calc(100% - 90px - 25px);
                border: 1px solid;
                margin: 2px;
                overflow-y: scroll;
                &__item {
                    &:hover {
                        background-color: rgb(205, 233, 242);
                        cursor: pointer;
                    }
                }
                .cart-btn {
                    padding: 0px 20px;
                    border: 1px solid black;
                    color: rgb(250, 63, 63);
                    font-weight: bold;
                    font-size: 15px;
                    margin-right: 3px;
                    white-space: nowrap;
                    &--touch {
                        padding: 5px 20px;
                        font-size: 17px;
                    }
                }
            }
            &__sale {
                margin-top: 5px;
                margin-bottom: 5px;
                height: 90px;
                span {
                    padding-left: 10px;
                }
                button {
                    white-space: wrap;
                    margin-left: 10px;
                    margin-top: 10px;
                    svg {
                        width: 10px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        &__content {
            width: 450px;
            height: 300px;
            border-radius: 3px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: flex;
            flex-direction: column;
            padding: 3px;
            &__header {
                display: flex;
                height: 10%;
                justify-content: space-between;
                padding: 0px 5px 5px 5px;
                svg {
                    width: 15px;
                    margin-right: 10px;
                }
                &__close {
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
            &__body {
                height: 90%;
                background-color: rgb(218, 209, 209);
                &__cart {
                    background-color: white;
                    height: 65%;
                    margin: 5px 5px auto 5px;
                    border: 2px solid rgb(100, 150, 232);
                    &__list {
                        height: 90%;
                        min-height: 170px;
                        padding: 10px 0px 10px 8px;
                        overflow-y: scroll;
                        td,
                        th {
                            padding-right: 10px;
                        }
                    }
                }
                &__sale {
                    height: 25%;
                    min-height: 40px;
                    display: flex;
                    flex-direction: row;
                    button {
                        margin-right: 10px;
                    }
                    img {
                        width: 11px;
                        margin: 0px 5px 2px 1px;
                        vertical-align: middle;
                    }
                    &__left {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-left: 10px;
                        img {
                            width: 20px;
                        }
                    }
                    &__left--sell {
                        width: 50%;
                        display: flex;
                        align-items: left;
                        justify-content: center;
                        padding-left: 10px;
                        flex-direction: column;
                        img {
                            width: 20px;
                        }
                    }
                    &__right {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: right;
                    }
                }
            }
        }
    }
    .sales-list {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &__content {
            width: 450px;
            height: 600px;
            border-radius: 3px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: flex;
            flex-direction: column;
            padding: 3px;
            &__header {
                display: flex;
                height: 5%;
                justify-content: space-between;
                align-items: center;
                padding: 0px 5px 5px 5px;
                svg {
                    width: 15px;
                    margin-right: 10px;
                }
                &__close {
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
            &__body {
                height: 95%;
                background-color: rgb(218, 209, 209);
                &__cart {
                    background-color: white;
                    height: 93%;
                    margin: 5px 5px auto 5px;
                    border: 2px solid rgb(100, 150, 232);
                    &__list {
                        height: 100%;
                        padding: 10px 0px 10px 8px;
                        overflow-y: scroll;
                        td,
                        th {
                            padding-right: 30px;
                        }
                        table {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}