.inet-prodej-app {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(20, 5%);
    button {
        border-radius: 3px;
        width: 85px;
    }
    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 6;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        border: 1px solid;
        margin: 2px;
        svg {
            height: 20px;
            margin-right: 10px;
        }
        span {
            margin-right: 10px;
        }
    }
    .options-panel {
        grid-row: 2 / 3;
        grid-column: 1 / 6;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-style: solid;
        border-width: 1px 0px 1px 0px;
        padding-left: 10px;
        border: 1px solid;
        margin: 2px;
        &__left {
            display: flex;
            justify-content: left;
            span {
                padding-right: 10px;
            }
        }
        &__right {
            display: flex;
            justify-content: right;
            padding-right: 20%;
        }
    }
    .items {
        grid-row: 3 / 12;
        grid-column: 1 / 6;
        border: 1px solid;
        margin: 2px;
        &__panel {
            font-weight: bold;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid;
            margin: 2px;
            &__left {
                width: 25%;
                text-align: left;
                padding-left: 10px;
            }
            &__right {
                width: 25%;
                text-align: right;
                padding-right: 15px;
            }
            &__hidden {
                width: 22px;
                border: 1px solid;
                height: 20px;
            }
        }
        &__list-container {
            display: flex;
            flex-direction: column;
            border: 1px solid;
            margin: 2px;
            height: 80%;
            overflow: scroll;
            &__item {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                margin: 2px;
                &:hover {
                    background-color: rgb(205, 233, 242);
                }
                &__left {
                    width: 25%;
                    height: auto;
                    text-align: left;
                    padding-left: 15px;
                }
                &__right {
                    width: 25%;
                    height: auto;
                    text-align: right;
                    padding-right: 15px;
                }
            }
        }
    }
    .person {
        grid-row: 12 / 22;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 10px;
        border: 1px solid;
        margin: 2px;
        &__details {
            display: flex;
            max-width: 250px;
            justify-content: center;
            flex-direction: column;
            align-items: left;
            margin-top: 10px;
            img {
                width: 50%;
                margin-top: 10px;
            }
            input {
                width: 90px;
                margin-top: 5px;
            }
            &__buttons {
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                svg {
                    height: 15px;
                    width: 15px;
                    padding-right: 5px;
                }
                button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
    .shop {
        grid-row: 12 / 22;
        grid-column: 2 / 6;
        border: 1px solid;
        margin: 2px;
        &__panel {
            font-weight: bold;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid;
            margin: 2px;
            &__left {
                width: 16%;
                text-align: left;
                padding-left: 10px;
            }
            &__left--bigger {
                width: 20%;
            }
            &__right {
                width: 16%;
                text-align: right;
                padding-right: 10px;
            }
        }
        &__list-container {
            display: flex;
            flex-direction: column;
            height: 60%;
            border: 1px solid;
            margin: 2px;
            &__item {
                display: flex;
                flex-direction: row;
                height: fit-content;
                &:hover {
                    background-color: rgb(205, 233, 242);
                }
                &__left {
                    width: 16%;
                    height: 100%;
                    text-align: left;
                    padding-left: 15px;
                }
                &__left--bigger {
                    width: 20%;
                    text-align: left;
                    padding-left: 15px;
                }
                &__right {
                    width: 16%;
                    height: 100%;
                    text-align: right;
                    padding-right: 15px;
                }
                &__button {
                    width: 16%;
                    height: 90%;
                    padding: 0 5px;
                    text-align: center;
                    button {
                        width: 100%;
                    }
                }
            }
        }
        &__sale {
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            margin-bottom: 5px;
            span {
                padding-left: 10px;
            }
            button {
                margin-left: 10px;
                margin-top: 10px;
            }
        }
    }
}